{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>Galeria - {{title}}</title>
    {% else %}
      <title> Galeria </title>
    {% endif %}
    
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}
 

</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
</body>
</html>