{%extends 'all-pics/base.html'%}


{% block content %}
{{block.super}}

<!-- <div class="container">
    <h1>Bienvenido a la galería de fotos</h1>
    <h2><em>Welcome to the photo gallery</em></h2>
</div> -->

<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="row">

                {% for photo in photos %}
                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="image-thumbail"
                            src="{{photo.image.url }}"
                            alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Lady in Bali</h5>
                            <small>Category: {{ photo.category.name }}</small>
                        </div>

                        <a href="{% url 'view-pictures' %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                    </div>
                </div>
                {% empty %}
                <h3>No Images Found</h3>
                {% endfor %}
            </div>
        </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Categories
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">All:</li>

                {% for category in categories %}
                <li class="list-group-item">{{ category.category }}</li>
                {% endfor %}



                <a href="{% url 'new-pictures' %}" class="btn btn-info btn-lg m-1">New Photo</a>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}