{%extends 'all-pics/base.html'%}

{% block content %}
{{block.super}}
<div class="m-5">
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a href="{% url 'gallery-photos' %}" class="btn btn-dark my-3">Back to Gallery</a>
            <div style="height:70vh">
                <img style="max-height: 100%; max-width: 100%;"
                src="https://ae.visamiddleeast.com/dam/VCOM/global/travel-with-visa/images/visa-travel-carousel-02-640x640.jpg">
                <p>Lady in Bali</p>
                
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}